@import url(https://fonts.googleapis.com/css?family=Satisfy);
@import url(https://fonts.googleapis.com/css?family=Six+Caps);

* {
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

#header {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 16px;
	background-color: "#edf2f7"; 
	color: rgba(0, 0, 0, 0.7);
}

#header-logo {
	display: flex;
	align-items: center;
	gap: 1rem;
	justify-content: "center";
}

#header-logo-image {
	width: 3rem;
	border-radius: 1rem;
	justify-content: center;
}

#header-logo-text {
	font-weight: bold; 
	font-family: Helvetica;
	height: 10vh;
	font-size: 50px;
}

#returnLink {
	color: rgb(253, 253, 253);
	margin: 10px;
	padding: 10px;
	text-align: left;
	height: 10vh;
	width: 50px;
	background-repeat: no-repeat;
	background-attachment: left;
	background-position: left;
	font-family: 'Six Caps', sans-serif;
	font-size: 50px;
}

body {
	background-color: rgb(20, 100, 37);
	background-image: radial-gradient(rgba(0, 150, 0, 0.75), black 130%);
	margin: 5px;
	padding: 5px;
	text-align: center;
	height: 100vh;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

h1 {
	color: rgb(121, 3, 3);
	font-size: 180px;
	margin: 5px;
	font-style: italic;
	font-weight: bold;
	letter-spacing: 10px;
	text-shadow: 4px 4px rgba(0, 0, 0, 0.6);
	text-align: center;
	font-family: 'Six Caps', sans-serif;
}

#message {
	margin-bottom: 15px;
	width: 100%;
	color: rgb(180, 180, 180);
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	display: inline-block;
	font-family: sans-serif;
	opacity: 100%;
	text-shadow: 2px 2px rgba(0, 0, 0, 0.6);
}

.score {
	margin: 10px;
	width: 100%;
	color: rgb(180, 180, 180);
	font-size: 35px;
	font-weight: bold;
	text-align: center;
	display: inline;
	font-family: sans-serif;
	opacity: 100%;
	text-shadow: 2px 2px rgba(0, 0, 0, 0.6);
	margin-bottom: 20px;
}

.playerScore {
	float: left;
	padding-left: 100px;
	padding-right: 20px;
	width: 50%;
}

.dealerScore {
	float: right;
	padding-right: 100px;
	padding-left: 20px;
	width: 50%;
}

.button {
	background-color: lightgray;
	width: 130px;
	text-align: center;
	font-size: 20px;
	padding: 10px;
	margin: 10px;
	box-shadow: 0 12px 18px 0 rgba(0, 0, 0, 0.4);
	display: inline-block;
}

.hitStay {
	margin-top: 30px;
	text-align: center;
	display: inline-block;
	width: 100%;
	border-radius: 50%;
}

.new-game {
	text-align: center;
	width: 100%;
}

#deckCount {
	color: rgb(180, 180, 180);
	font-size: 20px;
	font-weight: bold;
	font-family: sans-serif;
	margin: 30px;
	text-shadow: 2px 2px rgba(0, 0, 0, 0.6);
	margin-bottom: 50px;
	position: static;
	border-bottom-width: 10px;
}

.cardImage {
	width: 110px;
}

#blackjack-table {
	display: inline-flex;
	margin-top: 10px;
	width: 90%;
}

#playerContainer {
	margin-right: 50px;
	float: left;
	width: 50%;
	flex-wrap: row;

}

#dealerContainer {
	margin-left: 50px;
	float: right;
	width: 50%;
	flex-wrap: row;
}

.secondDealer {
	opacity: 80%;
	filter: blur(20px);
}